/* Root for the Whole text */
*{
    font-family: "Roboto", sans-serif;
    margin: auto;
    box-sizing: border-box;
    text-align: center;
}
.cards{
    border: 5px solid blue;
}
.links{
    border: 5px solid orange;
    margin: 5px;
}
.l1{
    border: 2px solid green;
    margin: 10px;
    /* width: 200px; */
    margin-left: 90%;
}
.l2{
    border: 2px  green;
    margin: 10px;
    /* width: 200px; */
    margin-left: 90%;
    
}
.l3{
    border: 2px solid green;
    margin: 10px;
    /* width: 200px; */
    margin-left: 90%;
}